.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 57%;
  border-radius: 10px;
  background-color: #fff;
}

.loader {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100px;
  height: 100px;
}

.title {
  font: 30px/30px Arial, sans-serif;
  font-weight: 700;
}

.main {
  display: flex;
  align-items: center;
}

.photo {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.description, .indification,
.login, .url {
  font: 21px/25px Arial, sans-serif;
  padding-left: 30px;
}

.heading {
  text-align: center;
  font: 30px/30px Arial, sans-serif;
  font-weight: 700;
}

.links {
  display: flex;
  flex-direction: column;
}

.descr {
  font-style: italic;
  margin-left: 15px;
  align-self: flex-end;
}

.naming {
  text-decoration: none;
  color: #000;
  font: 25px/25px Arial, sans-serif;
}

.item {
  display: flex;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #808080;
  padding: 10px 10px;
  transition: 0.1s ease;
}

.item:hover {
  border-right: 3px solid #678b78;
  border-bottom: 3px solid #678b78;
}

.error,
.error_text,
.error_status {
  font: 25px/25px Arial, sans-serif;
  color: red;
}

@media (max-width: 1250px) {
  .avatar {
    width: 150px;
    height: 150px;
  }

  .description, .indification,
  .login, .url {
    font: 18px/22px Arial,, sans-serif;
  }

  .heading {
    font: 30px/30px Arial, sans-serif;
  }  

  .naming {
    font: 22px/22px Arial, sans-serif;
  }

  .error,
  .error_text,
  .error_status {
    font: 22px/22px Arial, sans-serif;
  }
}

@media (max-width: 1050px) {
  .container {
    width: 70%;
  }

  .avatar {
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }

  .points {
    display: flex;
    flex-direction: column;
  }

  .item {
    margin-bottom: 15px;
  }

  .description, .indification,
  .login, .url {
    font: 18px/18px Arial, sans-serif;
  }

  .heading {
    font: 25px/25px Arial, sans-serif;
  }

  .error,
  .error_text,
  .error_status {
    font: 22px/22px Arial, sans-serif;
  }
}

@media (max-width: 869px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 780px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 563px) {
  .main {
    display: block;
    text-align: center;
  }

  .photo {
    margin-left: -20px;
  }

  .description, .indification,
  .login, .url {
    padding-left: 0;
    margin-top: 10px;
  }
}
