.footer {
  padding-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  margin-right: 10px;
}

@media (max-width: 597px) {
  .footer {
    flex-direction: column;
  }

  .item {
    margin-bottom: 15px;
  }
}
